Connected Services/srvGestionPresupuesto/presupuesto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar_Cheques_por_OC_OS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="V_Centro_Operativo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="D_Año" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="D_Mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="V_Origen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Listar_Cheques_por_OC_OSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Listar_Cheques_por_OC_OSResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Listar_Cheques_por_OC_OSSoapIn">
    <wsdl:part name="parameters" element="tns:Listar_Cheques_por_OC_OS" />
  </wsdl:message>
  <wsdl:message name="Listar_Cheques_por_OC_OSSoapOut">
    <wsdl:part name="parameters" element="tns:Listar_Cheques_por_OC_OSResponse" />
  </wsdl:message>
  <wsdl:message name="Listar_Cheques_por_OC_OSHttpGetIn">
    <wsdl:part name="V_Centro_Operativo" type="s:string" />
    <wsdl:part name="D_Año" type="s:string" />
    <wsdl:part name="D_Mes" type="s:string" />
    <wsdl:part name="V_Origen" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Listar_Cheques_por_OC_OSHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="Listar_Cheques_por_OC_OSHttpPostIn">
    <wsdl:part name="V_Centro_Operativo" type="s:string" />
    <wsdl:part name="D_Año" type="s:string" />
    <wsdl:part name="D_Mes" type="s:string" />
    <wsdl:part name="V_Origen" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Listar_Cheques_por_OC_OSHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="PresupuestoSoap">
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5. Detalle_OC_OS. Detalle_OC_OS</wsdl:documentation>
      <wsdl:input message="tns:Listar_Cheques_por_OC_OSSoapIn" />
      <wsdl:output message="tns:Listar_Cheques_por_OC_OSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PresupuestoHttpGet">
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5. Detalle_OC_OS. Detalle_OC_OS</wsdl:documentation>
      <wsdl:input message="tns:Listar_Cheques_por_OC_OSHttpGetIn" />
      <wsdl:output message="tns:Listar_Cheques_por_OC_OSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PresupuestoHttpPost">
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">5. Detalle_OC_OS. Detalle_OC_OS</wsdl:documentation>
      <wsdl:input message="tns:Listar_Cheques_por_OC_OSHttpPostIn" />
      <wsdl:output message="tns:Listar_Cheques_por_OC_OSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PresupuestoSoap" type="tns:PresupuestoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <soap:operation soapAction="http://tempuri.org/Listar_Cheques_por_OC_OS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PresupuestoSoap12" type="tns:PresupuestoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <soap12:operation soapAction="http://tempuri.org/Listar_Cheques_por_OC_OS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PresupuestoHttpGet" type="tns:PresupuestoHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <http:operation location="/Listar_Cheques_por_OC_OS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PresupuestoHttpPost" type="tns:PresupuestoHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Listar_Cheques_por_OC_OS">
      <http:operation location="/Listar_Cheques_por_OC_OS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Presupuesto">
    <wsdl:port name="PresupuestoSoap" binding="tns:PresupuestoSoap">
      <soap:address location="http://10.10.18.10:90/Core/GestionPresupuesto/presupuesto.asmx" />
    </wsdl:port>
    <wsdl:port name="PresupuestoSoap12" binding="tns:PresupuestoSoap12">
      <soap12:address location="http://10.10.18.10:90/Core/GestionPresupuesto/presupuesto.asmx" />
    </wsdl:port>
    <wsdl:port name="PresupuestoHttpGet" binding="tns:PresupuestoHttpGet">
      <http:address location="http://10.10.18.10:90/Core/GestionPresupuesto/presupuesto.asmx" />
    </wsdl:port>
    <wsdl:port name="PresupuestoHttpPost" binding="tns:PresupuestoHttpPost">
      <http:address location="http://10.10.18.10:90/Core/GestionPresupuesto/presupuesto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>