Connected Services/srvGestionSeguridadPlanta/Visitas1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://api-netsuite.sima.com.pe/seguridadplanta" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://api-netsuite.sima.com.pe/seguridadplanta" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://api-netsuite.sima.com.pe/seguridadplanta">
      <s:element name="ListarTodos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="S_PROGRAMACION" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="S_PERIODO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="S_TIPOPROGRA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarProgramacionVisita_JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarProgramacionVisita_JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarProgramacionVisita_JSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgramacionVisita_Ins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdTipoVisita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdEntidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdArea" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaTermino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HoraInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HoraTermino" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdCIASeguros" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroPoliza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuarioRegistro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoProgramacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdUsuarioAprobacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdEstado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgramacionVisita_InsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProgramacionVisita_InsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgramacionVisitas_Ins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oProgramacionBE" type="tns:ProgramacionBE" />
            <s:element minOccurs="0" maxOccurs="1" name="LstCorreos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LstAnexos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProgramacionBE">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseBE">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="NRO_PROGRAMACION" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PERIODO" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_TABLA_TIPO_ENTIDAD" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_TIPO_VISITA" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_ENTIDAD" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_JEFE_PROYECTO" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NRO_REGISTRO_INGRESO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NRO_DOCUMENTO_REF" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_INICIO" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_TERMINO" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="HORA_INICIO" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HORA_TERMINO" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_TABLA_CIA_SEGUROS" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_CIA_SEGUROS" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NRO_POLIZA" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_INICIO_POLIZA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_TERMINO_POLIZA" nillable="true" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="NRO_PENSION_POLIZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NRO_SALUD_POLIZA" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TRABAJOS_A_REALIZAR" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_TABLA_LUGAR_TRABAJO" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_LUGAR_TRABAJO" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NOMBRE_NAVE" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CONTACTO_NOMBRES" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OBSERVACIONES" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_TABLA_ESTADO" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_ESTADO" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_USUARIO_REGISTRO" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_USUARIO_MODIFICACION" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_USUARIO_ELIMINACION" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_REGISTRO" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_MODIFICACION" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_ELIMINACION" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="TIPO_PROGRAMACION" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ID_USUARIO_APROBACION" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="INTERF_ENVIADO" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="NRO_DOC" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ID_OS" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PC_IP" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NO_PROG" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_INICIO_POLIZA_S" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FECHA_TERMINO_POLIZA_S" nillable="true" type="s:dateTime" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseBE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observacion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEstado" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImgEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreEstado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sucursal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdCodigo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ambiente" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProgramacionVisitas_InsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProgramacionVisitas_InsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarTodosSoapIn">
    <wsdl:part name="parameters" element="tns:ListarTodos" />
  </wsdl:message>
  <wsdl:message name="ListarTodosSoapOut">
    <wsdl:part name="parameters" element="tns:ListarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ListarProgramacionVisita_JSONSoapIn">
    <wsdl:part name="parameters" element="tns:ListarProgramacionVisita_JSON" />
  </wsdl:message>
  <wsdl:message name="ListarProgramacionVisita_JSONSoapOut">
    <wsdl:part name="parameters" element="tns:ListarProgramacionVisita_JSONResponse" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisita_InsSoapIn">
    <wsdl:part name="parameters" element="tns:ProgramacionVisita_Ins" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisita_InsSoapOut">
    <wsdl:part name="parameters" element="tns:ProgramacionVisita_InsResponse" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisitas_InsSoapIn">
    <wsdl:part name="parameters" element="tns:ProgramacionVisitas_Ins" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisitas_InsSoapOut">
    <wsdl:part name="parameters" element="tns:ProgramacionVisitas_InsResponse" />
  </wsdl:message>
  <wsdl:message name="ListarTodosHttpGetIn">
    <wsdl:part name="S_PROGRAMACION" type="s:string" />
    <wsdl:part name="S_PERIODO" type="s:string" />
    <wsdl:part name="S_TIPOPROGRA" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarTodosHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarProgramacionVisita_JSONHttpGetIn">
    <wsdl:part name="Id1" type="s:string" />
    <wsdl:part name="Id2" type="s:string" />
    <wsdl:part name="Id3" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarProgramacionVisita_JSONHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisita_InsHttpGetIn">
    <wsdl:part name="IdTipoVisita" type="s:string" />
    <wsdl:part name="IdEntidad" type="s:string" />
    <wsdl:part name="IdArea" type="s:string" />
    <wsdl:part name="FechaInicio" type="s:string" />
    <wsdl:part name="FechaTermino" type="s:string" />
    <wsdl:part name="HoraInicio" type="s:string" />
    <wsdl:part name="HoraTermino" type="s:string" />
    <wsdl:part name="IdCIASeguros" type="s:string" />
    <wsdl:part name="NroPoliza" type="s:string" />
    <wsdl:part name="Observaciones" type="s:string" />
    <wsdl:part name="IdUsuarioRegistro" type="s:string" />
    <wsdl:part name="TipoProgramacion" type="s:string" />
    <wsdl:part name="IdUsuarioAprobacion" type="s:string" />
    <wsdl:part name="IdEstado" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisita_InsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarTodosHttpPostIn">
    <wsdl:part name="S_PROGRAMACION" type="s:string" />
    <wsdl:part name="S_PERIODO" type="s:string" />
    <wsdl:part name="S_TIPOPROGRA" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarTodosHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ListarProgramacionVisita_JSONHttpPostIn">
    <wsdl:part name="Id1" type="s:string" />
    <wsdl:part name="Id2" type="s:string" />
    <wsdl:part name="Id3" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ListarProgramacionVisita_JSONHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisita_InsHttpPostIn">
    <wsdl:part name="IdTipoVisita" type="s:string" />
    <wsdl:part name="IdEntidad" type="s:string" />
    <wsdl:part name="IdArea" type="s:string" />
    <wsdl:part name="FechaInicio" type="s:string" />
    <wsdl:part name="FechaTermino" type="s:string" />
    <wsdl:part name="HoraInicio" type="s:string" />
    <wsdl:part name="HoraTermino" type="s:string" />
    <wsdl:part name="IdCIASeguros" type="s:string" />
    <wsdl:part name="NroPoliza" type="s:string" />
    <wsdl:part name="Observaciones" type="s:string" />
    <wsdl:part name="IdUsuarioRegistro" type="s:string" />
    <wsdl:part name="TipoProgramacion" type="s:string" />
    <wsdl:part name="IdUsuarioAprobacion" type="s:string" />
    <wsdl:part name="IdEstado" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProgramacionVisita_InsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="VisitasSoap">
    <wsdl:operation name="ListarTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista la Programacion de visitas</wsdl:documentation>
      <wsdl:input message="tns:ListarTodosSoapIn" />
      <wsdl:output message="tns:ListarTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Programación de visitas (JSON) </wsdl:documentation>
      <wsdl:input message="tns:ListarProgramacionVisita_JSONSoapIn" />
      <wsdl:output message="tns:ListarProgramacionVisita_JSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar Programación de Visita (cabecera) </wsdl:documentation>
      <wsdl:input message="tns:ProgramacionVisita_InsSoapIn" />
      <wsdl:output message="tns:ProgramacionVisita_InsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisitas_Ins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar Programación de Visitas (cabecera) - Parámetros: pase de clases Entidad </wsdl:documentation>
      <wsdl:input message="tns:ProgramacionVisitas_InsSoapIn" />
      <wsdl:output message="tns:ProgramacionVisitas_InsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VisitasHttpGet">
    <wsdl:operation name="ListarTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista la Programacion de visitas</wsdl:documentation>
      <wsdl:input message="tns:ListarTodosHttpGetIn" />
      <wsdl:output message="tns:ListarTodosHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Programación de visitas (JSON) </wsdl:documentation>
      <wsdl:input message="tns:ListarProgramacionVisita_JSONHttpGetIn" />
      <wsdl:output message="tns:ListarProgramacionVisita_JSONHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar Programación de Visita (cabecera) </wsdl:documentation>
      <wsdl:input message="tns:ProgramacionVisita_InsHttpGetIn" />
      <wsdl:output message="tns:ProgramacionVisita_InsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="VisitasHttpPost">
    <wsdl:operation name="ListarTodos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista la Programacion de visitas</wsdl:documentation>
      <wsdl:input message="tns:ListarTodosHttpPostIn" />
      <wsdl:output message="tns:ListarTodosHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Programación de visitas (JSON) </wsdl:documentation>
      <wsdl:input message="tns:ListarProgramacionVisita_JSONHttpPostIn" />
      <wsdl:output message="tns:ListarProgramacionVisita_JSONHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Insertar Programación de Visita (cabecera) </wsdl:documentation>
      <wsdl:input message="tns:ProgramacionVisita_InsHttpPostIn" />
      <wsdl:output message="tns:ProgramacionVisita_InsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VisitasSoap" type="tns:VisitasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodos">
      <soap:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ListarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <soap:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ListarProgramacionVisita_JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <soap:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ProgramacionVisita_Ins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisitas_Ins">
      <soap:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ProgramacionVisitas_Ins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VisitasSoap12" type="tns:VisitasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarTodos">
      <soap12:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ListarTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <soap12:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ListarProgramacionVisita_JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <soap12:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ProgramacionVisita_Ins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisitas_Ins">
      <soap12:operation soapAction="https://api-netsuite.sima.com.pe/seguridadplanta/ProgramacionVisitas_Ins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VisitasHttpGet" type="tns:VisitasHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ListarTodos">
      <http:operation location="/ListarTodos" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <http:operation location="/ListarProgramacionVisita_JSON" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <http:operation location="/ProgramacionVisita_Ins" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VisitasHttpPost" type="tns:VisitasHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ListarTodos">
      <http:operation location="/ListarTodos" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarProgramacionVisita_JSON">
      <http:operation location="/ListarProgramacionVisita_JSON" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramacionVisita_Ins">
      <http:operation location="/ProgramacionVisita_Ins" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Visitas">
    <wsdl:port name="VisitasSoap" binding="tns:VisitasSoap">
      <soap:address location="http://10.10.90.4:7000/Core/SeguridadPlanta/Visitas.asmx" />
    </wsdl:port>
    <wsdl:port name="VisitasSoap12" binding="tns:VisitasSoap12">
      <soap12:address location="http://10.10.90.4:7000/Core/SeguridadPlanta/Visitas.asmx" />
    </wsdl:port>
    <wsdl:port name="VisitasHttpGet" binding="tns:VisitasHttpGet">
      <http:address location="http://10.10.90.4:7000/Core/SeguridadPlanta/Visitas.asmx" />
    </wsdl:port>
    <wsdl:port name="VisitasHttpPost" binding="tns:VisitasHttpPost">
      <http:address location="http://10.10.90.4:7000/Core/SeguridadPlanta/Visitas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>